/******************************************************************
Site Name: 18F 
Author: Octo Consulting Group

Stylesheet: Main Stylesheet

******************************************************************/
/*********************
IMPORTING STYLES
*********************/
/* import base */
/******************************************************************

Stylesheet: Base Stylesheet

******************************************************************/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v14/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v14/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v14/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
body {
  background-color: #ffffff;
  color: #262626;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
body > header {
  margin-bottom: 2.5em;
}
body > footer {
  margin-top: 2.5em;
}
strong {
  font-weight: 900;
}
h1 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 0;
  color: #293655;
}
h1 small {
  font-weight: 300;
  color: #32a6ad;
  display: block;
  margin: .3em 0;
}
h1 small a {
  font-size: .7em;
}
h2 {
  font-size: 1.8em;
  color: #154e7d;
}
h3 {
  font-size: 1.6em;
  font-weight: 300;
  margin: .5em 0;
}
h3.teal {
  color: #32a6ad;
}
h4 {
  font-size: 1.2em;
  line-height: 1.4em;
  margin: .3em 0;
}
h5 {
  font-size: 1.1em;
  line-height: 1.4em;
  color: #8cc640;
  margin: .3em 0;
  font-weight: 300;
}
p {
  line-height: 1.8em;
}
a {
  color: #154e7d;
  text-decoration: underline;
}
a:hover {
  color: #061826;
}
.home .intro {
  padding-bottom: 2.5em;
}
.home .intro p {
  border-bottom: 1px solid #ebf5dd;
  padding-bottom: 1.3em;
}
.home .intro a.jumps {
  color: #154e7d;
  font-size: 1.2em;
  font-weight: 300;
  text-decoration: none;
}
.home .intro a.jumps span {
  color: #8cc640;
}
.home .intro a.jumps:hover {
  color: #363636;
}
.home .intro a.jumps:hover span {
  color: #293655;
}
.home #highlights {
  background-color: #8cc640;
  padding: 2.5em 0;
}
.home .media-heading {
  color: #ffffff;
  font-weight: 700;
}
.home .media-body > p {
  color: #293655;
  line-height: 1.4;
  font-size: 14px;
}
.home .media img {
  height: 70px;
  width: 70px;
}
.med-header {
  background-color: #293655;
  margin-bottom: 2.5em;
}
.med-header .med-logo {
  display: block;
}
.med-header .med-logo img {
  width: 100%;
}
.disclaimer {
  background-color: #4f4f4f;
  color: #ffffff;
}
.disclaimer p {
  padding: 1.1em 0;
}
.btn-primary {
  background-color: #32a6ad;
  border: 1px solid #32a6ad;
  border-radius: 0;
  text-decoration: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #278085;
  border: 1px solid #278085;
  text-decoration: none;
}
.form-control {
  border-radius: 0;
  border: 0px;
}
nav.nav-med-tabs {
  margin: .8em 0;
}
nav.nav-med-tabs li .med-link {
  border-bottom: 2px solid #b5b5b5;
  padding: .5em .8em;
  text-decoration: none;
}
nav.nav-med-tabs li .med-link:hover,
nav.nav-med-tabs li .med-link:focus {
  background: none;
  border-color: #4f4f4f;
}
nav.nav-med-tabs li.active .med-link {
  border-color: #8cc640;
  background: none;
  color: #8cc640;
}
.breaker-panel {
  background-image: url(../images/Lasso_search_breaker.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: left center;
  height: 400px;
  background-repeat: no-repeat;
}
.breaker-pills {
  background-image: url(../images/Lasso_pills_breaker.jpg);
}
.med-summary-listing {
  font-size: .9em;
}
.med-summary-listing .row {
  border-bottom: 1px solid #e8e8e8;
  padding-top: .8em;
  padding-bottom: .8em;
}
.med-summary-listing .row:nth-child(even) {
  background-color: #fafafa;
}
.med-listing article {
  padding: .8em .5em;
  font-size: .8em;
  border-bottom: 2px solid #f2f2f2;
  margin-top: 0;
}
.med-listing article:nth-child(odd) {
  background-color: #f7f7f7;
}
.med-listing article .pull-left strong {
  display: block;
  color: #8cc640;
  font-weight: 300;
  line-height: 1.3em;
}
.med-listing article h4.media-heading {
  color: #293655;
  line-height: 1.1em;
}
.med-listing article h4.media-heading small {
  color: #32a6ad;
  display: block;
  margin: .5em 0;
}
.med-listing article .patient-info {
  line-height: 30px;
}
.med-listing article .patient-info .gender-icon {
  display: block;
  margin-right: 5px;
  padding-left: 40px;
  background: url(../images/gender-sprite.png) 0 0 no-repeat;
  font-weight: 500;
  text-transform: uppercase;
}
.med-listing article .patient-info .male {
  background-position: 0px 0px;
}
.med-listing article .patient-info .female {
  background-position: 0px -30px;
}
.med-listing article .patient-info .unknown {
  background-position: 0px -60px;
}
.med-listing article .toggle-details dl {
  font-size: .9em;
  margin: 1em 0;
  color: #4f4f4f;
}
.med-listing article .toggle-details dl dt {
  font-weight: 500;
}
.nav-toggle {
  color: #32a6ad;
  text-decoration: none;
  font-weight: 300;
}
.nav-toggle:hover,
.nav-toggle:focus,
.nav-toggle:active {
  color: #278085;
}
.med-filters {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding-top: .2em;
  padding-bottom: .2em;
  margin-bottom: 1.5em;
}
.med-filters h6 {
  color: #b5b5b5;
  font-weight: 400;
  margin: .3em;
  font-size: .9em;
}
.med-filters > ul {
  margin-bottom: 0;
}
.med-filters > ul > li a {
  text-decoration: none;
  cursor: pointer;
}
.med-filters > ul > li a:hover {
  color: #154e7d;
}
.med-filters > ul > li > a {
  color: #9c9c9c;
  margin-left: .8em;
  font-size: .8em;
}
.med-filters > ul > li > a:hover {
  color: #32a6ad;
}
.med-filters > ul > li > ul li {
  border-bottom: 1px solid #f2f2f2;
  background-color: #fafafa;
}
.med-filters > ul > li > ul li:nth-child(even) {
  background-color: #fcfcfc;
}
.med-filters > ul > li > ul li > a:hover {
  background: #f2f2f2;
}
.med-panel {
  border-radius: 0px;
  border-bottom: 2px dotted #e6e6e6;
  box-shadow: none;
  margin-bottom: 2.5em;
}
#medSearch {
  padding: .5em 0;
}
#medSearch .twitter-typeahead {
  width: 100%;
  float: left;
}
#medSearch .tt-menu {
  width: 100%;
  background-color: #fafafa;
}
#medSearch .tt-menu .tt-suggestion:nth-child(even) {
  background-color: #fcfcfc;
}
#medSearch .tt-menu .tt-suggestion {
  padding: .8em;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f2;
}
#medSearch .tt-menu .tt-suggestion:hover {
  background-color: #f2f2f2;
  color: #154e7d;
}
#medSearch .input-group-btn {
  padding: 0;
}
.big-num {
  font-size: 3.5em;
  color: #32a6ad;
  display: block;
  font-weight: 500;
}
.block-num {
  font-size: 1.2em;
  color: #ffffff;
  display: block;
  background-color: #8cc640;
}
.viz-panel {
  margin-bottom: 2.5em;
  position: relative;
}
.viz-panel .viz-panel-header {
  height: 50px;
  text-align: center;
  display: table;
  width: 100%;
}
.viz-panel .viz-panel-header h6 {
  display: table-cell;
  vertical-align: middle;
  color: #4f4f4f;
}
.top-listing {
  font-weight: 600;
  color: #32a6ad;
}
.top-listing a {
  color: #4f4f4f;
  text-decoration: none;
  font-weight: 300;
}
.top-listing a strong {
  color: #293655;
  font-weight: 400;
}
.pagination li a {
  color: #4f4f4f;
  border: none;
  border-radius: 0px;
}
.pagination li a:hover {
  background-color: #4f4f4f;
  color: #ffffff;
}
.pagination li:last-child > a,
.pagination li:last-child > span,
.pagination li:first-child > a,
.pagination li:first-child > span {
  border-radius: 0px;
}
.pagination li.active a,
.pagination li.active a:hover,
.pagination li.active a:focus,
.pagination li.active a:active {
  background-color: #32a6ad;
  color: #ffffff;
}
/* import tablet */
/******************************************************************

Stylesheet: Tablet Stylesheet

******************************************************************/
@media (min-width: 750px) {
  body {
    font-size: 16px;
    width: 100&;
  }
  h1 small {
    display: inline;
  }
  .med-logo {
    margin: .3em 0;
  }
  nav.nav-med-tabs li .med-link {
    margin-right: .8em;
  }
  .viz-title {
    height: 40px;
  }
  .med-listing article h4.media-heading small {
    display: inline;
  }
}
/* import notebook */
/******************************************************************

Stylesheet: Notebook Stylesheet

******************************************************************/
@media (min-width: 970px) {
  body {
    font-size: 18px;
  }
  .home .med-header {
    padding-bottom: 1em;
  }
  .med-logo {
    margin: 0;
  }
  .breaker-panel {
    background-attachment: fixed;
  }
  .viz-title {
    height: 80px;
  }
}
/* import desktop */
/******************************************************************

Stylesheet: Desktop Stylesheet

******************************************************************/
@media (min-width: 1170px) {
  #medSearch {
    margin: .5em;
  }
}
